@charset "UTF-8";
/* CSS Document */
.bg{
	margin:0 auto;
    width:100%;
    min-height:100vh;
    background:url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    padding-top:0rem;
	padding:0rem 0.2rem;

}
/*.conIn{
	display:flex;
	display: -webkit-flex;}*/
.title{
	width:100%;
	font-size:0.12rem;
	line-height:0.3rem;
	color:rgba(14,253,255,1);
	text-align:center;
	font-weight:bold;
	}

.border_bg_leftTop{
	position:absolute;
	left:-0.008rem;
	top:-0.04rem;
	width:0.37rem;
	height:0.05rem;
	display:block;
	background:#01279d url(../images/title_left_bg.png) no-repeat;
	background-size:cover;}
.border_bg_rightTop{
	position:absolute;
	right:-0.01rem;
	top:-0.01rem;
	width:0.1rem;
	height:0.1rem;
	display:block;
	background:url(../images/border_bg.jpg) no-repeat;
	background-size:cover;}
.border_bg_leftBottom{
	position:absolute;
	left:-0.008rem;
	bottom:-0.008rem;
	width:0.1rem;
	height:0.1rem;
	display:block;
	background:url(../images/border_bg.jpg) no-repeat;
	background-size:cover;}
.border_bg_rightBottom{
	position:absolute;
	right:-0.01rem;
	bottom:-0.01rem;
	width:0.08rem;
	height:0.08rem;
	display:block;
	background:url(../images/title_right_bg.png) no-repeat;
	background-size:cover;}


/*右边部分*/
.rightMain .rightMain_top{
	width:100%;
	padding-bottom:0.1rem;
	}
.rightMain .rightMain_topIn{
	border:0.008rem solid rgba(14,253,255,0.5);
	width:100%;
	min-height:60px;
	position:relative;
	padding:0.08rem 0.05rem;
	}
.rightMain .rightMain_topIn h3{
	font-size:0.08rem;
	color:#fff;
	margin-bottom:0.05rem;
	}
.rightMain .rightMain_topIn .biaoge{
	min-height:200px;}

.rightMain .rightMain_bottom{
	width:100%;
	}
.rightMain .rightMain_bottomIn{
	border:0.008rem solid rgba(14,253,255,0.5);
	width:100%;
	min-height:60px;
	position:relative;
	padding:0.08rem 0.05rem;
	}
.rightMain .rightMain_bottomIn h3{
	font-size:0.08rem;
	color:#fff;
	margin-bottom:0.05rem;
	}
/*右下角表格*/
.rightMain .rightMain_bottomIn .biaoge{
	min-height:200px;}
.rightMain .rightMain_bottomIn .biaoge_list{
	overflow:hidden;
	position: relative;}
.rightMain .rightMain_bottomIn .biaoge_list .biaoge_listIn .ul_list{
	overflow:hidden;
	position: relative;}
.rightMain .rightMain_bottomIn .biaoge_list .biaoge_listIn .ul_listIn{
	-webkit-animation: 14s gundong linear infinite normal;
    animation: 14s gundong linear infinite normal;
    position: relative;}
@keyframes gundong {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -30vh, 0);
        transform: translate3d(0, -30vh, 0);
    }
}

.rightMain .rightMain_bottomIn .biaoge_list ul{
	display:flex;
	display: -webkit-flex;
	width:100%;
	}
.rightMain .rightMain_bottomIn .biaoge_list .ul_title{
	background: linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.5), rgba(255,255,255,0.1));
        background: -ms-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.5), rgba(255,255,255,0.1));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.5), rgba(255,255,255,0.1));
        background: -moz-linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0.5), rgba(255,255,255,0.1));
}
.rightMain .rightMain_bottomIn .biaoge_list .ul_con{
	border-bottom:0.008rem solid rgba(14,253,255,0.5);}
.rightMain .rightMain_bottomIn .biaoge_list ul li{
	width:20%;
	text-align:center;
	color:#fff;
	font-size:0.06rem;
	height:0.2rem;
	line-height:0.2rem;}







